rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      match /banks/{bankId} {
        allow read, write, delete: if request.auth.uid == userId;
      }
      match /transactions/{transactionId} {
        allow read, write, delete: if request.auth.uid == userId;
      }
      match /profile/{profileId} {
        allow read, update, create: if request.auth.uid == userId;
      }
      match /goals/{goalId} {
        allow read, write, delete: if request.auth.uid == userId;
      }
    }
  }
}
